RewriteEngine On

# Ensure the request is not for a real directory
RewriteCond %{REQUEST_FILENAME} !-d
# Ensure the request is not for a real file
RewriteCond %{REQUEST_FILENAME} !-f

# Adjust the RewriteRule to include the /weather subdirectory in the pattern
RewriteRule ^weather/api/v1/admin/(.*)$ /weather/backend.php?route=admin_$1&version=v1 [QSA,L]
RewriteRule ^weather/api/(v[1234](\.[1])?)/(.*)$ /weather/backend.php?route=$3&version=$1 [QSA,L]

