{
    "openapi": "3.0.0",
    "info": {
      "title": "Weather API",
      "description": "A simple API to fetch current weather and forecast data, and check API health.",
      "version": "2.0"
    },
    "servers": [
      {
        "url": "https://cpr.in-berlin.de/weather"
      }
    ],
    "paths": {
      "/openweathermap_proxy.php": {
        "get": {
          "summary": "Get current weather",
          "description": "Fetches the current weather for a group of given city IDs.",
          "parameters": [
            {
              "in": "query",
              "name": "ids",
              "required": true,
              "schema": {
                "type": "string"
              },
              "description": "comma-separated city IDs"
            }
          ],
          "responses": {
            "200": {
              "description": "Successfully retrieved current weather",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/WeatherResponse"
                  }
                }
              }
            },
            "404": {
              "description": "Cities not found"
            }
          }
        }
      }
    },
    "components": {
      "schemas": {
        "WeatherResponse": {
          "type": "object",
          "properties": {
            "cnt": {
              "type": "integer",
              "description": "Number of cities returned in the list."
            },
            "list": {
              "type": "array",
              "items": {
                "$ref": "#/components/schemas/CityWeather"
              }
            }
          }
        },
        "CityWeather": {
          "type": "object",
          "properties": {
            "coord": {
              "type": "object",
              "properties": {
                "lon": {
                  "type": "number",
                  "format": "float",
                  "description": "Longitude"
                },
                "lat": {
                  "type": "number",
                  "format": "float",
                  "description": "Latitude"
                }
              }
            },
            "sys": {
              "type": "object",
              "properties": {
                "country": {
                  "type": "string"
                },
                "timezone": {
                  "type": "integer"
                },
                "sunrise": {
                  "type": "integer"
                },
                "sunset": {
                  "type": "integer"
                }
              }
            },
            "weather": {
              "type": "array",
              "items": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer"
                  },
                  "main": {
                    "type": "string"
                  },
                  "description": {
                    "type": "string"
                  },
                  "icon": {
                    "type": "string"
                  }
                }
              }
            },
            "main": {
              "type": "object",
              "properties": {
                "temp": {
                  "type": "number"
                },
                "feels_like": {
                  "type": "number"
                },
                "temp_min": {
                  "type": "number"
                },
                "temp_max": {
                  "type": "number"
                },
                "pressure": {
                  "type": "integer"
                },
                "humidity": {
                  "type": "integer"
                }
              }
            },
            "visibility": {
              "type": "integer"
            },
            "wind": {
              "type": "object",
              "properties": {
                "speed": {
                  "type": "number"
                },
                "deg": {
                  "type": "integer"
                }
              }
            },
            "clouds": {
              "type": "object",
              "properties": {
                "all": {
                  "type": "integer"
                }
              }
            },
            "dt": {
              "type": "integer"
            },
            "id": {
              "type": "integer"
            },
            "name": {
              "type": "string"
            }
          }
        }
      }
    }
  }
  